.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

.bg-wine-gradient {
  background: linear-gradient(135deg, #8B0000, #b22222, #800000);
  height: 100%;
  color: white;
}
.bg-dark-overlay {
  background: rgba(0, 0, 0, 0.7) url('../images/wine-bg.jpg') no-repeat center;
  background-size: cover;
  color: white;
  height: 100%;
}
.bg-wine {
  background-color: #800000;
}
